<a href="https://colab.research.google.com/github/josemacoel/Evaluacion-5/blob/main/Actividad_5_A01734153.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Actividad 5 | Parte 1**

### **José María Colombres Elguea**

### **Matrícula: A01734153**

## **Importar librerias**

In [239]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **Etapa 1: Preprocesamiento de datos**

# **California_EUA**

## **2. Agregar el archivo csv**

In [240]:
california= pd.read_csv("California_EUA.csv",encoding = "unicode_escape")
california.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6936 entries, 0 to 6935
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ï»¿id                                         6936 non-null   float64
 1   listing_url                                   6936 non-null   object
 2   scrape_id                                     6936 non-null   float64
 3   last_scraped                                  6936 non-null   object
 4   source                                        6936 non-null   object
 5   name                                          6936 non-null   object
 6   description                                   6889 non-null   object
 7   neighborhood_overview                         4850 non-null   object
 8   picture_url                                   6936 non-null   object
 9   host_id                                       6936 non-null   int64
 10  host_url                                      6936 non-null   object
 11  host_name                                     6936 non-null   object
 12  host_since                                    6936 non-null   object
 13  host_location                                 5715 non-null   object
 14  host_about                                    4684 non-null   object
 15  host_response_time                            5917 non-null   object
 16  host_response_rate                            5917 non-null   object
 17  host_acceptance_rate                          6135 non-null   object
 18  host_is_superhost                             6927 non-null   object
 19  host_thumbnail_url                            6936 non-null   object
 20  host_picture_url                              6936 non-null   object
 21  host_neighbourhood                            6635 non-null   object
 22  host_listings_count                           6936 non-null   int64
 23  host_total_listings_count                     6936 non-null   int64
 24  host_verifications                            6936 non-null   object
 25  host_has_profile_pic                          6936 non-null   object
 26  host_identity_verified                        6936 non-null   object
 27  neighbourhood                                 4850 non-null   object
 28  neighbourhood_cleansed                        6936 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      6936 non-null   float64
 31  longitude                                     6936 non-null   float64
 32  property_type                                 6936 non-null   object
 33  room_type                                     6936 non-null   object
 34  accommodates                                  6936 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6922 non-null   object
 37  bedrooms                                      5991 non-null   float64
 38  beds                                          6816 non-null   float64
 39  amenities                                     6936 non-null   object
 40  price                                         6936 non-null   object
 41  minimum_nights                                6936 non-null   int64
 42  maximum_nights                                6936 non-null   int64
 43  minimum_minimum_nights                        6934 non-null   float64
 44  maximum_minimum_nights                        6934 non-null   float64
 45  minimum_maximum_nights                        6934 non-null   float64
 46  maximum_maximum_nights                        6934 non-null   float64
 47  minimum_nights_avg_ntm                        6934 non-null   float64
 48  maximum_nights_avg_ntm                        6934 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6936 non-null   object
 51  availability_30                               6936 non-null   int64
 52  availability_60                               6936 non-null   int64
 53  availability_90                               6936 non-null   int64
 54  availability_365                              6936 non-null   int64
 55  calendar_last_scraped                         6936 non-null   object
 56  number_of_reviews                             6936 non-null   int64
 57  number_of_reviews_ltm                         6936 non-null   int64
 58  number_of_reviews_l30d                        6936 non-null   int64
 59  first_review                                  5611 non-null   object
 60  last_review                                   5611 non-null   object
 61  review_scores_rating                          5611 non-null   float64
 62  review_scores_accuracy                        5590 non-null   float64
 63  review_scores_cleanliness                     5590 non-null   float64
 64  review_scores_checkin                         5589 non-null   float64
 65  review_scores_communication                   5590 non-null   float64
 66  review_scores_location                        5589 non-null   float64
 67  review_scores_value                           5589 non-null   float64
 68  license                                       4178 non-null   object
 69  instant_bookable                              6936 non-null   object
 70  calculated_host_listings_count                6936 non-null   int64
 71  calculated_host_listings_count_entire_homes   6936 non-null   int64
 72  calculated_host_listings_count_private_rooms  6936 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6936 non-null   int64
 74  reviews_per_month                             5611 non-null   float64
dtypes: float64(23), int64(17), object(35)
memory usage: 4.0+ MB

## **3. Reemplazar valores nulos**

In [241]:
#Identificar valores nulos por columna (poner opción de mostrar todas las columnas)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    valores_nulos = california.isnull().sum()
    print(valores_nulos)

ï»¿id                                              0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
name                                               0
description                                       47
neighborhood_overview                           2086
picture_url                                        0
host_id                                            0
host_url                                           0
host_name                                          0
host_since                                         0
host_location                                   1221
host_about                                      2252
host_response_time                              1019
host_response_rate                              1019
host_acceptance_rate                             801
host_is_superhost                                  9
host_thumbnail_url                                 0
host_picture_url                                   0
host_neighbourhood                               301
host_listings_count                                0
host_total_listings_count                          0
host_verifications                                 0
host_has_profile_pic                               0
host_identity_verified                             0
neighbourhood                                   2086
neighbourhood_cleansed                             0
neighbourhood_group_cleansed                    6936
latitude                                           0
longitude                                          0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                       6936
bathrooms_text                                    14
bedrooms                                         945
beds                                             120
amenities                                          0
price                                              0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             2
maximum_minimum_nights                             2
minimum_maximum_nights                             2
maximum_maximum_nights                             2
minimum_nights_avg_ntm                             2
maximum_nights_avg_ntm                             2
calendar_updated                                6936
has_availability                                   0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
calendar_last_scraped                              0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                    1325
last_review                                     1325
review_scores_rating                            1325
review_scores_accuracy                          1346
review_scores_cleanliness                       1346
review_scores_checkin                           1347
review_scores_communication                     1346
review_scores_location                          1347
review_scores_value                             1347
license                                         2758
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1325
dtype: int64

In [242]:
#Se separan las columnas numéricas de las que contienen otro tipo de dato. 
#Columnas con str, date_time, etc
columnas_object = california.select_dtypes(exclude=['float', 'int'])

#Columnas numéricas
columnas_numericas = california.select_dtypes(include=['float', 'int'])

### **Columnas no numéricas**

Para las columnas que no tienen valores numéricos se hará un filtrado donde se sustituirán los valores nulos por el str "Sin registro". Esto tiene el objetivo de generar insights a partir de los datos correctos pero también identificar el porcentaje de filas que no tienen registro para ciertas columnas. Además evita no borrar las columnas que tienen completamente valores nulos

In [243]:
#Comprobamos nulos para las columnas no numéricas
columnas_object.isnull().sum()

listing_url                  0
last_scraped                 0
source                       0
name                         0
description                 47
neighborhood_overview     2086
picture_url                  0
host_url                     0
host_name                    0
host_since                   0
host_location             1221
host_about                2252
host_response_time        1019
host_response_rate        1019
host_acceptance_rate       801
host_is_superhost            9
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood         301
host_verifications           0
host_has_profile_pic         0
host_identity_verified       0
neighbourhood             2086
neighbourhood_cleansed       0
property_type                0
room_type                    0
bathrooms_text              14
amenities                    0
price                        0
has_availability             0
calendar_last_scraped        0
first_review              1325
last_review               1325
license                   2758
instant_bookable             0
dtype: int64

In [244]:
#LLenar los nulos con Sin registro y posteriormente guardarlo como df
columnas_object.fillna('No Data Available', inplace=True)

In [245]:
#Se guarda en el nuevo Data Frame
california_str = pd.DataFrame(columnas_object)
california_str.isnull().sum()

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
license                   0
instant_bookable          0
dtype: int64

### **Columnas numéricas**

Para las columnas numéricas y debido a la naturaleza de los datos se eligió sustituir los valores nulos por la mediana de la columna

In [246]:
#Comprobamos nulos para las columnas numéricas
columnas_numericas.isnull().sum()

ï»¿id                                              0
scrape_id                                          0
host_id                                            0
host_listings_count                                0
host_total_listings_count                          0
neighbourhood_group_cleansed                    6936
latitude                                           0
longitude                                          0
accommodates                                       0
bathrooms                                       6936
bedrooms                                         945
beds                                             120
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             2
maximum_minimum_nights                             2
minimum_maximum_nights                             2
maximum_maximum_nights                             2
minimum_nights_avg_ntm                             2
maximum_nights_avg_ntm                             2
calendar_updated                                6936
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
review_scores_rating                            1325
review_scores_accuracy                          1346
review_scores_cleanliness                       1346
review_scores_checkin                           1347
review_scores_communication                     1346
review_scores_location                          1347
review_scores_value                             1347
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1325
dtype: int64

In [247]:
#LLenar los nulos con la mediana de las columnas
columnas_numericas=columnas_numericas.fillna(columnas_numericas.median())

In [248]:
#Se guarda en el nuevo Data Frame y se comprueba
california_num = pd.DataFrame(columnas_numericas)
california_num.isnull().sum()

ï»¿id                                              0
scrape_id                                          0
host_id                                            0
host_listings_count                                0
host_total_listings_count                          0
neighbourhood_group_cleansed                    6936
latitude                                           0
longitude                                          0
accommodates                                       0
bathrooms                                       6936
bedrooms                                           0
beds                                               0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
calendar_updated                                6936
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
review_scores_rating                               0
review_scores_accuracy                             0
review_scores_cleanliness                          0
review_scores_checkin                              0
review_scores_communication                        0
review_scores_location                             0
review_scores_value                                0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                  0
dtype: int64

In [249]:
#Las columnas que tenían todos los valores nulos se mantuvieron igual
#Por este motivo se hace un nuevo procedimiento para eliminar las 3 nulas
california_num=california_num.dropna(axis=1)
california_num.isnull().sum()

ï»¿id                                           0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

### **Separar variables no categóricas**
Se separaran todas las columnas numéricas que tienen valores únicos, por ejemplo el ID, etc. Estas columnas no son categóricas y no representan importancia en el análisis para outliers

In [250]:
california_num.nunique()

ï»¿id                                           5662
scrape_id                                          1
host_id                                         3651
host_listings_count                               91
host_total_listings_count                        111
latitude                                        4803
longitude                                       4870
accommodates                                      17
bedrooms                                          10
beds                                              13
minimum_nights                                    53
maximum_nights                                   155
minimum_minimum_nights                            52
maximum_minimum_nights                            58
minimum_maximum_nights                           131
maximum_maximum_nights                           130
minimum_nights_avg_ntm                           167
maximum_nights_avg_ntm                           259
availability_30                                   31
availability_60                                   61
availability_90                                   91
availability_365                                 366
number_of_reviews                                464
number_of_reviews_ltm                            131
number_of_reviews_l30d                            21
review_scores_rating                             118
review_scores_accuracy                           113
review_scores_cleanliness                        132
review_scores_checkin                             93
review_scores_communication                      106
review_scores_location                           133
review_scores_value                              125
calculated_host_listings_count                    39
calculated_host_listings_count_entire_homes       29
calculated_host_listings_count_private_rooms      30
calculated_host_listings_count_shared_rooms        7
reviews_per_month                                659
dtype: int64

In [251]:
#Se separan columnas numéricas con valores unicos
#Este nuevo df lo concatenaremos más adelante

num_valores_unicos = california_num.nunique()

# Crear un nuevo dataframe que almacene las variables con muchos valores unicos
columnas_muchos = num_valores_unicos[num_valores_unicos > 3000].index
california_muchos = california_num.loc[:, columnas_muchos]

# Crear un nuevo dataframe que excluya las columnas con muchos valores únicos
columnas_analisis = num_valores_unicos[num_valores_unicos < 3000].index
california_num = california_num.loc[:, columnas_analisis]
california_num

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2.020000e+13,1,1,3,1.0,2.0,2,30,2.0,2.0,...,4.92,4.95,4.88,4.98,4.76,1,1,0,0,2.31
1,2.020000e+13,2,2,4,2.0,2.0,30,60,30.0,30.0,...,4.87,4.89,4.85,4.77,4.68,1,1,0,0,0.66
2,2.020000e+13,13,14,1,1.0,1.0,32,90,32.0,32.0,...,4.44,4.78,4.78,4.67,4.67,13,0,13,0,0.09
3,2.020000e+13,2,6,4,2.0,2.0,9,91,9.0,9.0,...,5.00,4.94,5.00,4.94,4.75,2,2,0,0,0.17
4,2.020000e+13,2,2,3,1.0,1.0,1,26,1.0,1.0,...,4.94,4.95,4.96,4.93,4.74,2,0,2,0,4.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,2.020000e+13,9,9,2,1.0,1.0,1,28,1.0,2.0,...,4.91,4.97,4.97,4.90,4.76,5,5,0,0,0.56
6932,2.020000e+13,1,1,2,1.0,1.0,1,7,1.0,1.0,...,5.00,5.00,5.00,5.00,5.00,1,1,0,0,1.00
6933,2.020000e+13,1,1,1,1.0,1.0,31,60,31.0,31.0,...,4.91,4.97,4.97,4.90,4.76,1,0,1,0,0.56
6934,2.020000e+13,3,4,2,1.0,1.0,1,7,1.0,1.0,...,4.91,4.97,4.97,4.90,4.76,3,0,3,0,0.56
6935,2.020000e+13,2,4,2,1.0,1.0,30,365,30.0,30.0,...,4.91,4.97,4.97,4.90,4.76,2,1,1,0,0.56

In [252]:
california_muchos

             ï»¿id    host_id   latitude   longitude
0     9.580000e+02       1169  37.770280 -122.433170
1     5.858000e+03       8904  37.744740 -122.420890
2     8.142000e+03      21994  37.765550 -122.452130
3     8.339000e+03      24215  37.775640 -122.436420
4     8.739000e+03       7149  37.760300 -122.421970
...            ...        ...        ...         ...
6931  8.180000e+17  495900269  37.791994 -122.410000
6932  8.180000e+17  499392537  37.763060 -122.432023
6933  8.180000e+17  499294716  37.777633 -122.416478
6934  8.180000e+17  485596413  37.738325 -122.396603
6935  8.190000e+17    4836128  37.786442 -122.457006

[6936 rows x 4 columns]

## **4. Eliminación de Outliers**
Aplicar métodos (Desviación Estándar o Rango Intercuartílico)

Se decidió utilizar el método de Rango Intercuartílico debido a su fiabilidad y mejor precisión para detectar outliers. El método es mucho má compacto para detectar límites superiores e inferiores, y al ser archivos grandes, siempre es mejor detectar con un método más preciso

In [253]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=california_num

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print()
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido scrape_id                                       2.020000e+13
host_listings_count                             3.850000e+01
host_total_listings_count                       5.700000e+01
accommodates                                    7.000000e+00
bedrooms                                        3.500000e+00
beds                                            3.500000e+00
minimum_nights                                  7.200000e+01
maximum_nights                                  2.769000e+03
minimum_minimum_nights                          7.200000e+01
maximum_minimum_nights                          7.200000e+01
minimum_maximum_nights                          2.677500e+03
maximum_maximum_nights                          2.677500e+03
minimum_nights_avg_ntm                          7.200000e+01
maximum_nights_avg_ntm                          2.677500e+03
availability_30                                 5.750000e+01
availability_60                                 1.235000e+02
availability_90                                 1.860000e+02
availability_365                                6.593750e+02
number_of_reviews                               1.185000e+02
number_of_reviews_ltm                           2.500000e+01
number_of_reviews_l30d                          2.500000e+00
review_scores_rating                            5.345000e+00
review_scores_accuracy                          5.240000e+00
review_scores_cleanliness                       5.330000e+00
review_scores_checkin                           5.120000e+00
review_scores_communication                     5.135000e+00
review_scores_location                          5.300000e+00
review_scores_value                             5.175000e+00
calculated_host_listings_count                  2.100000e+01
calculated_host_listings_count_entire_homes     5.000000e+00
calculated_host_listings_count_private_rooms    5.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               2.950000e+00
dtype: float64

Limite inferior permitido scrape_id                                       2.020000e+13
host_listings_count                            -2.150000e+01
host_total_listings_count                      -3.100000e+01
accommodates                                   -1.000000e+00
bedrooms                                       -5.000000e-01
beds                                           -5.000000e-01
minimum_nights                                 -4.000000e+01
maximum_nights                                 -1.615000e+03
minimum_minimum_nights                         -4.000000e+01
maximum_minimum_nights                         -4.000000e+01
minimum_maximum_nights                         -1.462500e+03
maximum_maximum_nights                         -1.462500e+03
minimum_nights_avg_ntm                         -4.000000e+01
maximum_nights_avg_ntm                         -1.462500e+03
availability_30                                -3.450000e+01
availability_60                                -7.250000e+01
availability_90                                -1.020000e+02
availability_365                               -3.176250e+02
number_of_reviews                              -6.950000e+01
number_of_reviews_ltm                          -1.500000e+01
number_of_reviews_l30d                         -1.500000e+00
review_scores_rating                            4.425000e+00
review_scores_accuracy                          4.600000e+00
review_scores_cleanliness                       4.450000e+00
review_scores_checkin                           4.800000e+00
review_scores_communication                     4.775000e+00
review_scores_location                          4.500000e+00
review_scores_value                             4.335000e+00
calculated_host_listings_count                 -1.100000e+01
calculated_host_listings_count_entire_homes    -3.000000e+00
calculated_host_listings_count_private_rooms   -3.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -1.370000e+00
dtype: float64

In [254]:
#Encontramos Outliers del Dataframe
outliers_iqr= california_num[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.44,4.78,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [255]:
#Obtenemos datos limpios del Dataframe
california_iqr= california_num[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
california_iqr

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2.020000e+13,1.0,1.0,3.0,1.0,2.0,2.0,30.0,2.0,2.0,...,4.92,4.95,4.88,4.98,4.76,1.0,1.0,0.0,0.0,2.31
1,2.020000e+13,2.0,2.0,4.0,2.0,2.0,30.0,60.0,30.0,30.0,...,4.87,4.89,4.85,4.77,4.68,1.0,1.0,0.0,0.0,0.66
2,2.020000e+13,13.0,14.0,1.0,1.0,1.0,32.0,90.0,32.0,32.0,...,NaN,NaN,4.78,4.67,4.67,13.0,0.0,NaN,0.0,0.09
3,2.020000e+13,2.0,6.0,4.0,2.0,2.0,9.0,91.0,9.0,9.0,...,5.00,4.94,5.00,4.94,4.75,2.0,2.0,0.0,0.0,0.17
4,2.020000e+13,2.0,2.0,3.0,1.0,1.0,1.0,26.0,1.0,1.0,...,4.94,4.95,4.96,4.93,4.74,2.0,0.0,2.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,2.020000e+13,9.0,9.0,2.0,1.0,1.0,1.0,28.0,1.0,2.0,...,4.91,4.97,4.97,4.90,4.76,5.0,5.0,0.0,0.0,0.56
6932,2.020000e+13,1.0,1.0,2.0,1.0,1.0,1.0,7.0,1.0,1.0,...,5.00,5.00,5.00,5.00,5.00,1.0,1.0,0.0,0.0,1.00
6933,2.020000e+13,1.0,1.0,1.0,1.0,1.0,31.0,60.0,31.0,31.0,...,4.91,4.97,4.97,4.90,4.76,1.0,0.0,1.0,0.0,0.56
6934,2.020000e+13,3.0,4.0,2.0,1.0,1.0,1.0,7.0,1.0,1.0,...,4.91,4.97,4.97,4.90,4.76,3.0,0.0,3.0,0.0,0.56
6935,2.020000e+13,2.0,4.0,2.0,1.0,1.0,30.0,365.0,30.0,30.0,...,4.91,4.97,4.97,4.90,4.76,2.0,1.0,1.0,0.0,0.56

In [256]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=california_iqr.isnull().sum()
valores_nulos

scrape_id                                          0
host_listings_count                             1128
host_total_listings_count                       1196
accommodates                                     279
bedrooms                                         228
beds                                             558
minimum_nights                                   200
maximum_nights                                     4
minimum_minimum_nights                           231
maximum_minimum_nights                           346
minimum_maximum_nights                            19
maximum_maximum_nights                            34
minimum_nights_avg_ntm                           341
maximum_nights_avg_ntm                            34
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                867
number_of_reviews_ltm                            963
number_of_reviews_l30d                           575
review_scores_rating                             615
review_scores_accuracy                           652
review_scores_cleanliness                        613
review_scores_checkin                            835
review_scores_communication                      932
review_scores_location                           545
review_scores_value                              661
calculated_host_listings_count                  1140
calculated_host_listings_count_entire_homes     1078
calculated_host_listings_count_private_rooms    1040
calculated_host_listings_count_shared_rooms      114
reviews_per_month                                832
dtype: int64

In [257]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
california_iqr_final=california_iqr.copy()
california_iqr_final=california_iqr_final.fillna(round(california_iqr.mean(),1))
california_iqr_final

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2.020000e+13,1.0,1.0,3.0,1.0,2.0,2.0,30.0,2.0,2.0,...,4.92,4.95,4.88,4.98,4.76,1.0,1.0,0.0,0.0,2.31
1,2.020000e+13,2.0,2.0,4.0,2.0,2.0,30.0,60.0,30.0,30.0,...,4.87,4.89,4.85,4.77,4.68,1.0,1.0,0.0,0.0,0.66
2,2.020000e+13,13.0,14.0,1.0,1.0,1.0,32.0,90.0,32.0,32.0,...,4.90,5.00,4.78,4.67,4.67,13.0,0.0,0.7,0.0,0.09
3,2.020000e+13,2.0,6.0,4.0,2.0,2.0,9.0,91.0,9.0,9.0,...,5.00,4.94,5.00,4.94,4.75,2.0,2.0,0.0,0.0,0.17
4,2.020000e+13,2.0,2.0,3.0,1.0,1.0,1.0,26.0,1.0,1.0,...,4.94,4.95,4.96,4.93,4.74,2.0,0.0,2.0,0.0,0.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,2.020000e+13,9.0,9.0,2.0,1.0,1.0,1.0,28.0,1.0,2.0,...,4.91,4.97,4.97,4.90,4.76,5.0,5.0,0.0,0.0,0.56
6932,2.020000e+13,1.0,1.0,2.0,1.0,1.0,1.0,7.0,1.0,1.0,...,5.00,5.00,5.00,5.00,5.00,1.0,1.0,0.0,0.0,1.00
6933,2.020000e+13,1.0,1.0,1.0,1.0,1.0,31.0,60.0,31.0,31.0,...,4.91,4.97,4.97,4.90,4.76,1.0,0.0,1.0,0.0,0.56
6934,2.020000e+13,3.0,4.0,2.0,1.0,1.0,1.0,7.0,1.0,1.0,...,4.91,4.97,4.97,4.90,4.76,3.0,0.0,3.0,0.0,0.56
6935,2.020000e+13,2.0,4.0,2.0,1.0,1.0,30.0,365.0,30.0,30.0,...,4.91,4.97,4.97,4.90,4.76,2.0,1.0,1.0,0.0,0.56

In [258]:
#Corroboramos valores nulos del dataframe limpio
valores_nulos=california_iqr_final.isnull().sum()
valores_nulos

scrape_id                                       0
host_listings_count                             0
host_total_listings_count                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [259]:
#Finalmente concatenamos el dataframe numerico con el de string y guardamos en Excel 
california_final = pd.concat([california_muchos,california_iqr_final, california_str], axis=1)
california_final.to_csv('California_EUA_LIMPIO.csv', index=False)

# **Girona_España**

## **2. Agregar el archivo csv**

In [260]:
girona= pd.read_csv("Girona_España.csv",encoding = "unicode_escape")
girona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19655 entries, 0 to 19654
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            19655 non-null  float64
 1   listing_url                                   19655 non-null  object
 2   scrape_id                                     19655 non-null  float64
 3   last_scraped                                  19655 non-null  object
 4   source                                        19655 non-null  object
 5   name                                          19655 non-null  object
 6   description                                   19632 non-null  object
 7   neighborhood_overview                         8342 non-null   object
 8   picture_url                                   19655 non-null  object
 9   host_id                                       19655 non-null  int64
 10  host_url                                      19655 non-null  object
 11  host_name                                     19538 non-null  object
 12  host_since                                    19538 non-null  object
 13  host_location                                 14096 non-null  object
 14  host_about                                    11231 non-null  object
 15  host_response_time                            17567 non-null  object
 16  host_response_rate                            17567 non-null  object
 17  host_acceptance_rate                          18502 non-null  object
 18  host_is_superhost                             19640 non-null  object
 19  host_thumbnail_url                            19538 non-null  object
 20  host_picture_url                              19538 non-null  object
 21  host_neighbourhood                            1269 non-null   object
 22  host_listings_count                           19538 non-null  float64
 23  host_total_listings_count                     19538 non-null  float64
 24  host_verifications                            19655 non-null  object
 25  host_has_profile_pic                          19538 non-null  object
 26  host_identity_verified                        19538 non-null  object
 27  neighbourhood                                 8342 non-null   object
 28  neighbourhood_cleansed                        19655 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      19655 non-null  float64
 31  longitude                                     19655 non-null  float64
 32  property_type                                 19655 non-null  object
 33  room_type                                     19655 non-null  object
 34  accommodates                                  19655 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                19639 non-null  object
 37  bedrooms                                      19152 non-null  float64
 38  beds                                          19562 non-null  float64
 39  amenities                                     19655 non-null  object
 40  price                                         19655 non-null  object
 41  minimum_nights                                19655 non-null  int64
 42  maximum_nights                                19655 non-null  int64
 43  minimum_minimum_nights                        19654 non-null  float64
 44  maximum_minimum_nights                        19654 non-null  float64
 45  minimum_maximum_nights                        19654 non-null  float64
 46  maximum_maximum_nights                        19654 non-null  float64
 47  minimum_nights_avg_ntm                        19654 non-null  float64
 48  maximum_nights_avg_ntm                        19654 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              19655 non-null  object
 51  availability_30                               19655 non-null  int64
 52  availability_60                               19655 non-null  int64
 53  availability_90                               19655 non-null  int64
 54  availability_365                              19655 non-null  int64
 55  calendar_last_scraped                         19655 non-null  object
 56  number_of_reviews                             19655 non-null  int64
 57  number_of_reviews_ltm                         19655 non-null  int64
 58  number_of_reviews_l30d                        19655 non-null  int64
 59  first_review                                  14428 non-null  object
 60  last_review                                   14428 non-null  object
 61  review_scores_rating                          14428 non-null  float64
 62  review_scores_accuracy                        14370 non-null  float64
 63  review_scores_cleanliness                     14372 non-null  float64
 64  review_scores_checkin                         14371 non-null  float64
 65  review_scores_communication                   14370 non-null  float64
 66  review_scores_location                        14371 non-null  float64
 67  review_scores_value                           14370 non-null  float64
 68  license                                       18520 non-null  object
 69  instant_bookable                              19655 non-null  object
 70  calculated_host_listings_count                19655 non-null  int64
 71  calculated_host_listings_count_entire_homes   19655 non-null  int64
 72  calculated_host_listings_count_private_rooms  19655 non-null  int64
 73  calculated_host_listings_count_shared_rooms   19655 non-null  int64
 74  reviews_per_month                             14428 non-null  float64
dtypes: float64(25), int64(15), object(35)
memory usage: 11.2+ MB

## **3. Reemplazar valores nulos**

In [261]:
#Identificar valores nulos por columna (poner opción de mostrar todas las columnas)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    valores_nulos = girona.isnull().sum()
    print(valores_nulos)

id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
source                                              0
name                                                0
description                                        23
neighborhood_overview                           11313
picture_url                                         0
host_id                                             0
host_url                                            0
host_name                                         117
host_since                                        117
host_location                                    5559
host_about                                       8424
host_response_time                               2088
host_response_rate                               2088
host_acceptance_rate                             1153
host_is_superhost                                  15
host_thumbnail_url                                117
host_picture_url                                  117
host_neighbourhood                              18386
host_listings_count                               117
host_total_listings_count                         117
host_verifications                                  0
host_has_profile_pic                              117
host_identity_verified                            117
neighbourhood                                   11313
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                    19655
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                       19655
bathrooms_text                                     16
bedrooms                                          503
beds                                               93
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              1
maximum_minimum_nights                              1
minimum_maximum_nights                              1
maximum_maximum_nights                              1
minimum_nights_avg_ntm                              1
maximum_nights_avg_ntm                              1
calendar_updated                                19655
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                     5227
last_review                                      5227
review_scores_rating                             5227
review_scores_accuracy                           5285
review_scores_cleanliness                        5283
review_scores_checkin                            5284
review_scores_communication                      5285
review_scores_location                           5284
review_scores_value                              5285
license                                          1135
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                5227
dtype: int64

In [262]:
#Se separan las columnas numéricas de las que contienen otro tipo de dato. 
#Columnas con str, date_time, etc
columnas_object = girona.select_dtypes(exclude=['float', 'int'])

#Columnas numéricas
columnas_numericas = girona.select_dtypes(include=['float', 'int'])

### **Columnas no numéricas**

Para las columnas que no tienen valores numéricos se hará un filtrado donde se sustituirán los valores nulos por el str "Sin registro". Esto tiene el objetivo de generar insights a partir de los datos correctos pero también identificar el porcentaje de filas que no tienen registro para ciertas columnas. Además evita no borrar las columnas que tienen completamente valores nulos

In [263]:
#Comprobamos nulos para las columnas no numéricas
columnas_object.isnull().sum()

listing_url                   0
last_scraped                  0
source                        0
name                          0
description                  23
neighborhood_overview     11313
picture_url                   0
host_url                      0
host_name                   117
host_since                  117
host_location              5559
host_about                 8424
host_response_time         2088
host_response_rate         2088
host_acceptance_rate       1153
host_is_superhost            15
host_thumbnail_url          117
host_picture_url            117
host_neighbourhood        18386
host_verifications            0
host_has_profile_pic        117
host_identity_verified      117
neighbourhood             11313
neighbourhood_cleansed        0
property_type                 0
room_type                     0
bathrooms_text               16
amenities                     0
price                         0
has_availability              0
calendar_last_scraped         0
first_review               5227
last_review                5227
license                    1135
instant_bookable              0
dtype: int64

In [264]:
#LLenar los nulos con Sin registro y posteriormente guardarlo como df
columnas_object.fillna('No Data Available', inplace=True)

In [265]:
#Se guarda en el nuevo Data Frame
girona_str = pd.DataFrame(columnas_object)
girona_str.isnull().sum()

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
license                   0
instant_bookable          0
dtype: int64

### **Columnas numéricas**

Para las columnas numéricas y debido a la naturaleza de los datos se eligió sustituir los valores nulos por la mediana de la columna

In [266]:
#Comprobamos nulos para las columnas numéricas
columnas_numericas.isnull().sum()

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                               117
host_total_listings_count                         117
neighbourhood_group_cleansed                    19655
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       19655
bedrooms                                          503
beds                                               93
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              1
maximum_minimum_nights                              1
minimum_maximum_nights                              1
maximum_maximum_nights                              1
minimum_nights_avg_ntm                              1
maximum_nights_avg_ntm                              1
calendar_updated                                19655
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                             5227
review_scores_accuracy                           5285
review_scores_cleanliness                        5283
review_scores_checkin                            5284
review_scores_communication                      5285
review_scores_location                           5284
review_scores_value                              5285
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                5227
dtype: int64

In [267]:
#LLenar los nulos con la mediana de las columnas
columnas_numericas=columnas_numericas.fillna(columnas_numericas.median())

In [268]:
#Se guarda en el nuevo Data Frame y se comprueba
girona_num = pd.DataFrame(columnas_numericas)
girona_num.isnull().sum()

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                                 0
host_total_listings_count                           0
neighbourhood_group_cleansed                    19655
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       19655
bedrooms                                            0
beds                                                0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_updated                                19655
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                                0
review_scores_accuracy                              0
review_scores_cleanliness                           0
review_scores_checkin                               0
review_scores_communication                         0
review_scores_location                              0
review_scores_value                                 0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                   0
dtype: int64

In [269]:
#Las columnas que tenían todos los valores nulos se mantuvieron igual
#Por este motivo se hace un nuevo procedimiento para eliminar las 3 nulas
girona_num=girona_num.dropna(axis=1)
girona_num.isnull().sum()

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

### **Separar variables no categóricas**
Se separaran todas las columnas numéricas que tienen valores únicos, por ejemplo el ID, etc. Estas columnas no son categóricas y no representan importancia en el análisis para outliers

In [270]:
girona_num.nunique()

id                                              19132
scrape_id                                           1
host_id                                          7788
host_listings_count                               127
host_total_listings_count                         163
latitude                                        15873
longitude                                       15451
accommodates                                       17
bedrooms                                           16
beds                                               31
minimum_nights                                     43
maximum_nights                                    140
minimum_minimum_nights                             39
maximum_minimum_nights                             54
minimum_maximum_nights                            145
maximum_maximum_nights                            139
minimum_nights_avg_ntm                            244
maximum_nights_avg_ntm                           2507
availability_30                                    31
availability_60                                    61
availability_90                                    91
availability_365                                  366
number_of_reviews                                 282
number_of_reviews_ltm                             100
number_of_reviews_l30d                             12
review_scores_rating                              161
review_scores_accuracy                            149
review_scores_cleanliness                         184
review_scores_checkin                             149
review_scores_communication                       149
review_scores_location                            137
review_scores_value                               167
calculated_host_listings_count                     84
calculated_host_listings_count_entire_homes        86
calculated_host_listings_count_private_rooms       15
calculated_host_listings_count_shared_rooms         6
reviews_per_month                                 467
dtype: int64

In [271]:
#Se separan columnas numéricas con valores unicos
#Este nuevo df lo concatenaremos más adelante

num_valores_unicos = girona_num.nunique()

# Crear un nuevo dataframe que almacene las variables con muchos valores unicos
columnas_muchos = num_valores_unicos[num_valores_unicos > 7000].index
girona_muchos = girona_num.loc[:, columnas_muchos]

# Crear un nuevo dataframe que excluya las columnas con muchos valores únicos
columnas_analisis = num_valores_unicos[num_valores_unicos < 7000].index
girona_num = girona_num.loc[:, columnas_analisis]
girona_num

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2.023030e+13,1.0,5.0,2,1.0,1.0,1,1125,1.0,1.0,...,4.94,4.89,4.91,4.63,4.74,1,0,1,0,0.37
1,2.023030e+13,1.0,1.0,2,1.0,1.0,2,30,2.0,2.0,...,4.85,4.85,4.91,4.69,4.80,1,0,1,0,0.51
2,2.023030e+13,2.0,3.0,4,1.0,2.0,2,30,2.0,7.0,...,4.31,4.81,4.76,4.74,4.32,2,2,0,0,0.62
3,2.023030e+13,6.0,6.0,2,1.0,2.0,2,21,2.0,2.0,...,4.50,4.86,5.00,4.63,4.50,6,1,5,0,0.08
4,2.023030e+13,2.0,3.0,4,1.0,1.0,7,32,7.0,7.0,...,4.82,4.73,4.73,4.91,4.36,1,1,0,0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,2.023030e+13,34.0,44.0,8,4.0,4.0,1,365,1.0,7.0,...,4.74,4.89,4.91,4.86,4.60,34,34,0,0,0.26
19651,2.023030e+13,3.0,3.0,4,1.0,1.0,3,365,3.0,7.0,...,4.74,4.89,4.91,4.86,4.60,1,1,0,0,0.26
19652,2.023030e+13,9.0,11.0,4,2.0,3.0,7,60,7.0,7.0,...,4.74,4.89,4.91,4.86,4.60,9,9,0,0,0.26
19653,2.023030e+13,111.0,121.0,4,2.0,3.0,1,365,1.0,7.0,...,4.74,4.89,4.91,4.86,4.60,54,54,0,0,0.26
19654,2.023030e+13,9.0,11.0,5,3.0,3.0,7,30,7.0,7.0,...,4.74,4.89,4.91,4.86,4.60,9,9,0,0,0.26

In [272]:
girona_muchos

                 id    host_id   latitude  longitude
0      1.455100e+04      57237  41.996500   2.836460
1      1.205757e+06    6586355  41.793040   2.774120
2      1.212820e+06    6620645  42.112840   3.166700
3      7.516380e+05    3680160  42.369580   2.980300
4      4.134200e+04     180072  42.346550   3.204630
...             ...        ...        ...        ...
19650  8.583870e+17   26281633  41.957265   3.201288
19651  8.583960e+17  444428600  41.699070   2.844080
19652  8.584110e+17  491503593  41.813720   3.064465
19653  8.584180e+17  389605038  41.809375   3.053910
19654  8.584240e+17  491503593  41.810169   3.066358

[19655 rows x 4 columns]

## **4. Eliminación de Outliers**
Aplicar métodos (Desviación Estándar o Rango Intercuartílico)

Para el df de Girona también se decidió utilizar el método de Rango Intercuartílico debido a su fiabilidad y mejor precisión para detectar outliers. El método es mucho má compacto para detectar límites superiores e inferiores, y al ser archivos grandes, siempre es mejor detectar con un método más preciso

In [273]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=girona_num

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print()
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido scrape_id                                       2.023030e+13
host_listings_count                             1.535000e+02
host_total_listings_count                       2.145000e+02
accommodates                                    9.000000e+00
bedrooms                                        4.500000e+00
beds                                            9.500000e+00
minimum_nights                                  1.100000e+01
maximum_nights                                  2.722500e+03
minimum_minimum_nights                          8.500000e+00
maximum_minimum_nights                          1.300000e+01
minimum_maximum_nights                          2.767500e+03
maximum_maximum_nights                          2.265000e+03
minimum_nights_avg_ntm                          9.500000e+00
maximum_nights_avg_ntm                          2.265000e+03
availability_30                                 6.750000e+01
availability_60                                 1.270000e+02
availability_90                                 1.700000e+02
availability_365                                5.805000e+02
number_of_reviews                               3.500000e+01
number_of_reviews_ltm                           1.250000e+01
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                            5.365000e+00
review_scores_accuracy                          5.320000e+00
review_scores_cleanliness                       5.475000e+00
review_scores_checkin                           5.375000e+00
review_scores_communication                     5.330000e+00
review_scores_location                          5.315000e+00
review_scores_value                             5.230000e+00
calculated_host_listings_count                  1.285000e+02
calculated_host_listings_count_entire_homes     1.285000e+02
calculated_host_listings_count_private_rooms    0.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               8.750000e-01
dtype: float64

Limite inferior permitido scrape_id                                       2.023030e+13
host_listings_count                            -9.050000e+01
host_total_listings_count                      -1.255000e+02
accommodates                                    1.000000e+00
bedrooms                                        5.000000e-01
beds                                           -2.500000e+00
minimum_nights                                 -5.000000e+00
maximum_nights                                 -1.537500e+03
minimum_minimum_nights                         -3.500000e+00
maximum_minimum_nights                         -3.000000e+00
minimum_maximum_nights                         -1.612500e+03
maximum_maximum_nights                         -7.750000e+02
minimum_nights_avg_ntm                         -2.500000e+00
maximum_nights_avg_ntm                         -7.750000e+02
availability_30                                -4.050000e+01
availability_60                                -6.500000e+01
availability_90                                -6.200000e+01
availability_365                               -1.915000e+02
number_of_reviews                              -2.100000e+01
number_of_reviews_ltm                          -7.500000e+00
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                            4.045000e+00
review_scores_accuracy                          4.280000e+00
review_scores_cleanliness                       3.915000e+00
review_scores_checkin                           4.375000e+00
review_scores_communication                     4.450000e+00
review_scores_location                          4.395000e+00
review_scores_value                             3.950000e+00
calculated_host_listings_count                 -7.550000e+01
calculated_host_listings_count_entire_homes    -7.550000e+01
calculated_host_listings_count_private_rooms    0.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -2.850000e-01
dtype: float64

In [274]:
#Encontramos Outliers del Dataframe
outliers_iqr= girona_num[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
#Obtenemos datos limpios del Dataframe
girona_iqr= girona_num[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
girona_iqr

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2.023030e+13,1.0,5.0,2.0,1.0,1.0,1.0,1125,1.0,1.0,...,4.94,4.89,4.91,4.63,4.74,1.0,0.0,NaN,0.0,0.37
1,2.023030e+13,1.0,1.0,2.0,1.0,1.0,2.0,30,2.0,2.0,...,4.85,4.85,4.91,4.69,4.80,1.0,0.0,NaN,0.0,0.51
2,2.023030e+13,2.0,3.0,4.0,1.0,2.0,2.0,30,2.0,7.0,...,4.31,4.81,4.76,4.74,4.32,2.0,2.0,0.0,0.0,0.62
3,2.023030e+13,6.0,6.0,2.0,1.0,2.0,2.0,21,2.0,2.0,...,4.50,4.86,5.00,4.63,4.50,6.0,1.0,NaN,0.0,0.08
4,2.023030e+13,2.0,3.0,4.0,1.0,1.0,7.0,32,7.0,7.0,...,4.82,4.73,4.73,4.91,4.36,1.0,1.0,0.0,0.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,2.023030e+13,34.0,44.0,8.0,4.0,4.0,1.0,365,1.0,7.0,...,4.74,4.89,4.91,4.86,4.60,34.0,34.0,0.0,0.0,0.26
19651,2.023030e+13,3.0,3.0,4.0,1.0,1.0,3.0,365,3.0,7.0,...,4.74,4.89,4.91,4.86,4.60,1.0,1.0,0.0,0.0,0.26
19652,2.023030e+13,9.0,11.0,4.0,2.0,3.0,7.0,60,7.0,7.0,...,4.74,4.89,4.91,4.86,4.60,9.0,9.0,0.0,0.0,0.26
19653,2.023030e+13,111.0,121.0,4.0,2.0,3.0,1.0,365,1.0,7.0,...,4.74,4.89,4.91,4.86,4.60,54.0,54.0,0.0,0.0,0.26
19654,2.023030e+13,9.0,11.0,5.0,3.0,3.0,7.0,30,7.0,7.0,...,4.74,4.89,4.91,4.86,4.60,9.0,9.0,0.0,0.0,0.26

In [276]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=girona_iqr.isnull().sum()
valores_nulos

scrape_id                                          0
host_listings_count                             1832
host_total_listings_count                       2449
accommodates                                    1616
bedrooms                                        1355
beds                                             565
minimum_nights                                   449
maximum_nights                                     0
minimum_minimum_nights                           434
maximum_minimum_nights                          1009
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                           607
maximum_nights_avg_ntm                             0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                               2247
number_of_reviews_ltm                           1855
number_of_reviews_l30d                          1575
review_scores_rating                            2229
review_scores_accuracy                          2145
review_scores_cleanliness                       1359
review_scores_checkin                           2074
review_scores_communication                     2265
review_scores_location                          1841
review_scores_value                             1553
calculated_host_listings_count                  1679
calculated_host_listings_count_entire_homes     1549
calculated_host_listings_count_private_rooms    2881
calculated_host_listings_count_shared_rooms      181
reviews_per_month                               2401
dtype: int64

In [277]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
girona_iqr_final=girona_iqr.copy()
girona_iqr_final=girona_iqr_final.fillna(round(girona_iqr.mean(),1))
girona_iqr_final

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2.023030e+13,1.0,5.0,2.0,1.0,1.0,1.0,1125,1.0,1.0,...,4.94,4.89,4.91,4.63,4.74,1.0,0.0,0.0,0.0,0.37
1,2.023030e+13,1.0,1.0,2.0,1.0,1.0,2.0,30,2.0,2.0,...,4.85,4.85,4.91,4.69,4.80,1.0,0.0,0.0,0.0,0.51
2,2.023030e+13,2.0,3.0,4.0,1.0,2.0,2.0,30,2.0,7.0,...,4.31,4.81,4.76,4.74,4.32,2.0,2.0,0.0,0.0,0.62
3,2.023030e+13,6.0,6.0,2.0,1.0,2.0,2.0,21,2.0,2.0,...,4.50,4.86,5.00,4.63,4.50,6.0,1.0,0.0,0.0,0.08
4,2.023030e+13,2.0,3.0,4.0,1.0,1.0,7.0,32,7.0,7.0,...,4.82,4.73,4.73,4.91,4.36,1.0,1.0,0.0,0.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,2.023030e+13,34.0,44.0,8.0,4.0,4.0,1.0,365,1.0,7.0,...,4.74,4.89,4.91,4.86,4.60,34.0,34.0,0.0,0.0,0.26
19651,2.023030e+13,3.0,3.0,4.0,1.0,1.0,3.0,365,3.0,7.0,...,4.74,4.89,4.91,4.86,4.60,1.0,1.0,0.0,0.0,0.26
19652,2.023030e+13,9.0,11.0,4.0,2.0,3.0,7.0,60,7.0,7.0,...,4.74,4.89,4.91,4.86,4.60,9.0,9.0,0.0,0.0,0.26
19653,2.023030e+13,111.0,121.0,4.0,2.0,3.0,1.0,365,1.0,7.0,...,4.74,4.89,4.91,4.86,4.60,54.0,54.0,0.0,0.0,0.26
19654,2.023030e+13,9.0,11.0,5.0,3.0,3.0,7.0,30,7.0,7.0,...,4.74,4.89,4.91,4.86,4.60,9.0,9.0,0.0,0.0,0.26

In [278]:
#Corroboramos valores nulos del dataframe limpio
valores_nulos=girona_iqr_final.isnull().sum()
valores_nulos

scrape_id                                       0
host_listings_count                             0
host_total_listings_count                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [279]:
#Finalmente concatenamos el dataframe numerico con el de string y guardamos en Excel 
girona_final = pd.concat([girona_muchos,girona_iqr_final, girona_str], axis=1)
girona_final.to_csv('Girona_España_LIMPIO.csv', index=False)

# **DF_Mexico**

## **2. Agregar el archivo csv**

In [280]:
mexico= pd.read_csv("DF_Mexico.csv")
mexico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24224 entries, 0 to 24223
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            24224 non-null  int64
 1   listing_url                                   24224 non-null  object
 2   scrape_id                                     24224 non-null  int64
 3   last_scraped                                  24224 non-null  object
 4   source                                        24224 non-null  object
 5   name                                          24223 non-null  object
 6   description                                   23296 non-null  object
 7   neighborhood_overview                         15145 non-null  object
 8   picture_url                                   24224 non-null  object
 9   host_id                                       24224 non-null  int64
 10  host_url                                      24224 non-null  object
 11  host_name                                     24224 non-null  object
 12  host_since                                    24224 non-null  object
 13  host_location                                 19052 non-null  object
 14  host_about                                    13560 non-null  object
 15  host_response_time                            21133 non-null  object
 16  host_response_rate                            21133 non-null  object
 17  host_acceptance_rate                          22181 non-null  object
 18  host_is_superhost                             24219 non-null  object
 19  host_thumbnail_url                            24224 non-null  object
 20  host_picture_url                              24224 non-null  object
 21  host_neighbourhood                            11823 non-null  object
 22  host_listings_count                           24224 non-null  int64
 23  host_total_listings_count                     24224 non-null  int64
 24  host_verifications                            24224 non-null  object
 25  host_has_profile_pic                          24224 non-null  object
 26  host_identity_verified                        24224 non-null  object
 27  neighbourhood                                 15145 non-null  object
 28  neighbourhood_cleansed                        24224 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      24224 non-null  float64
 31  longitude                                     24224 non-null  float64
 32  property_type                                 24224 non-null  object
 33  room_type                                     24224 non-null  object
 34  accommodates                                  24224 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                24194 non-null  object
 37  bedrooms                                      23669 non-null  float64
 38  beds                                          23953 non-null  float64
 39  amenities                                     24224 non-null  object
 40  price                                         24224 non-null  object
 41  minimum_nights                                24224 non-null  int64
 42  maximum_nights                                24224 non-null  int64
 43  minimum_minimum_nights                        24223 non-null  float64
 44  maximum_minimum_nights                        24223 non-null  float64
 45  minimum_maximum_nights                        24223 non-null  float64
 46  maximum_maximum_nights                        24223 non-null  float64
 47  minimum_nights_avg_ntm                        24223 non-null  float64
 48  maximum_nights_avg_ntm                        24223 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              24224 non-null  object
 51  availability_30                               24224 non-null  int64
 52  availability_60                               24224 non-null  int64
 53  availability_90                               24224 non-null  int64
 54  availability_365                              24224 non-null  int64
 55  calendar_last_scraped                         24224 non-null  object
 56  number_of_reviews                             24224 non-null  int64
 57  number_of_reviews_ltm                         24224 non-null  int64
 58  number_of_reviews_l30d                        24224 non-null  int64
 59  first_review                                  20628 non-null  object
 60  last_review                                   20628 non-null  object
 61  review_scores_rating                          20628 non-null  float64
 62  review_scores_accuracy                        20572 non-null  float64
 63  review_scores_cleanliness                     20573 non-null  float64
 64  review_scores_checkin                         20572 non-null  float64
 65  review_scores_communication                   20572 non-null  float64
 66  review_scores_location                        20571 non-null  float64
 67  review_scores_value                           20571 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              24224 non-null  object
 70  calculated_host_listings_count                24224 non-null  int64
 71  calculated_host_listings_count_entire_homes   24224 non-null  int64
 72  calculated_host_listings_count_private_rooms  24224 non-null  int64
 73  calculated_host_listings_count_shared_rooms   24224 non-null  int64
 74  reviews_per_month                             20628 non-null  float64
dtypes: float64(22), int64(19), object(34)
memory usage: 13.9+ MB

## **3. Reemplazar valores nulos**

In [281]:
#Identificar valores nulos por columna (poner opción de mostrar todas las columnas)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    valores_nulos = mexico.isnull().sum()
    print(valores_nulos)

id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
source                                              0
name                                                1
description                                       928
neighborhood_overview                            9079
picture_url                                         0
host_id                                             0
host_url                                            0
host_name                                           0
host_since                                          0
host_location                                    5172
host_about                                      10664
host_response_time                               3091
host_response_rate                               3091
host_acceptance_rate                             2043
host_is_superhost                                   5
host_thumbnail_url                                  0
host_picture_url                                    0
host_neighbourhood                              12401
host_listings_count                                 0
host_total_listings_count                           0
host_verifications                                  0
host_has_profile_pic                                0
host_identity_verified                              0
neighbourhood                                    9079
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                    24224
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                       24224
bathrooms_text                                     30
bedrooms                                          555
beds                                              271
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              1
maximum_minimum_nights                              1
minimum_maximum_nights                              1
maximum_maximum_nights                              1
minimum_nights_avg_ntm                              1
maximum_nights_avg_ntm                              1
calendar_updated                                24224
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                     3596
last_review                                      3596
review_scores_rating                             3596
review_scores_accuracy                           3652
review_scores_cleanliness                        3651
review_scores_checkin                            3652
review_scores_communication                      3652
review_scores_location                           3653
review_scores_value                              3653
license                                         24224
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                3596
dtype: int64

In [282]:
#Se separan las columnas numéricas de las que contienen otro tipo de dato. 
#Columnas con str, date_time, etc
columnas_object = mexico.select_dtypes(exclude=['float', 'int'])

#Columnas numéricas
columnas_numericas = mexico.select_dtypes(include=['float', 'int'])

### **Columnas no numéricas**

Para las columnas que no tienen valores numéricos se hará un filtrado donde se sustituirán los valores nulos por el str "Sin registro". Esto tiene el objetivo de generar insights a partir de los datos correctos pero también identificar el porcentaje de filas que no tienen registro para ciertas columnas. Además evita no borrar las columnas que tienen completamente valores nulos

In [283]:
#Comprobamos nulos para las columnas no numéricas
columnas_object.isnull().sum()

listing_url                   0
last_scraped                  0
source                        0
name                          1
description                 928
neighborhood_overview      9079
picture_url                   0
host_url                      0
host_name                     0
host_since                    0
host_location              5172
host_about                10664
host_response_time         3091
host_response_rate         3091
host_acceptance_rate       2043
host_is_superhost             5
host_thumbnail_url            0
host_picture_url              0
host_neighbourhood        12401
host_verifications            0
host_has_profile_pic          0
host_identity_verified        0
neighbourhood              9079
neighbourhood_cleansed        0
property_type                 0
room_type                     0
bathrooms_text               30
amenities                     0
price                         0
has_availability              0
calendar_last_scraped         0
first_review               3596
last_review                3596
instant_bookable              0
dtype: int64

In [284]:
#LLenar los nulos con Sin registro y posteriormente guardarlo como df
columnas_object.fillna('No Data Available', inplace=True)

In [285]:
#Se guarda en el nuevo Data Frame
mexico_str = pd.DataFrame(columnas_object)
mexico_str.isnull().sum()

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
instant_bookable          0
dtype: int64

### **Columnas numéricas**

Para las columnas numéricas y debido a la naturaleza de los datos se eligió sustituir los valores nulos por la mediana de la columna

In [286]:
#Comprobamos nulos para las columnas numéricas
columnas_numericas.isnull().sum()

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                                 0
host_total_listings_count                           0
neighbourhood_group_cleansed                    24224
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       24224
bedrooms                                          555
beds                                              271
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              1
maximum_minimum_nights                              1
minimum_maximum_nights                              1
maximum_maximum_nights                              1
minimum_nights_avg_ntm                              1
maximum_nights_avg_ntm                              1
calendar_updated                                24224
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                             3596
review_scores_accuracy                           3652
review_scores_cleanliness                        3651
review_scores_checkin                            3652
review_scores_communication                      3652
review_scores_location                           3653
review_scores_value                              3653
license                                         24224
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                3596
dtype: int64

In [287]:
#LLenar los nulos con la mediana de las columnas
columnas_numericas=columnas_numericas.fillna(columnas_numericas.median())

In [288]:
#Se guarda en el nuevo Data Frame y se comprueba
mexico_num = pd.DataFrame(columnas_numericas)
mexico_num.isnull().sum()

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                                 0
host_total_listings_count                           0
neighbourhood_group_cleansed                    24224
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       24224
bedrooms                                            0
beds                                                0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_updated                                24224
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                                0
review_scores_accuracy                              0
review_scores_cleanliness                           0
review_scores_checkin                               0
review_scores_communication                         0
review_scores_location                              0
review_scores_value                                 0
license                                         24224
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                   0
dtype: int64

In [289]:
#Las columnas que tenían todos los valores nulos se mantuvieron igual
#Por este motivo se hace un nuevo procedimiento para eliminar las 3 nulas
mexico_num=mexico_num.dropna(axis=1)
mexico_num.isnull().sum()

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

### **Separar variables no categóricas**
Se separaran todas las columnas numéricas que tienen valores únicos, por ejemplo el ID, etc. Estas columnas no son categóricas y no representan importancia en el análisis para outliers

In [290]:
mexico_num.nunique()

id                                              24224
scrape_id                                           1
host_id                                         11513
host_listings_count                                83
host_total_listings_count                         106
latitude                                        14319
longitude                                       12949
accommodates                                       17
bedrooms                                           21
beds                                               27
minimum_nights                                     67
maximum_nights                                    174
minimum_minimum_nights                             68
maximum_minimum_nights                             69
minimum_maximum_nights                            135
maximum_maximum_nights                            138
minimum_nights_avg_ntm                            179
maximum_nights_avg_ntm                            373
availability_30                                    31
availability_60                                    61
availability_90                                    91
availability_365                                  366
number_of_reviews                                 459
number_of_reviews_ltm                             164
number_of_reviews_l30d                             25
review_scores_rating                              144
review_scores_accuracy                            140
review_scores_cleanliness                         150
review_scores_checkin                             129
review_scores_communication                       135
review_scores_location                            129
review_scores_value                               148
calculated_host_listings_count                     63
calculated_host_listings_count_entire_homes        55
calculated_host_listings_count_private_rooms       28
calculated_host_listings_count_shared_rooms        12
reviews_per_month                                 914
dtype: int64

In [291]:
#Se separan columnas numéricas con valores unicos
#Este nuevo df lo concatenaremos más adelante

num_valores_unicos = mexico_num.nunique()

# Crear un nuevo dataframe que almacene las variables con muchos valores unicos
columnas_muchos = num_valores_unicos[num_valores_unicos > 11000].index
mexico_muchos = mexico_num.loc[:, columnas_muchos]

# Crear un nuevo dataframe que excluya las columnas con muchos valores únicos
columnas_analisis = num_valores_unicos[num_valores_unicos < 11000].index
mexico_num = mexico_num.loc[:, columnas_analisis]
mexico_num

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,20230329041210,3,7,3,1.0,1.0,1,1125,1.0,1.0,...,4.95,5.00,4.95,5.00,4.86,3,3,0,0,0.19
1,20230329041210,3,3,2,1.0,1.0,3,1125,3.0,3.0,...,4.88,4.93,5.00,4.95,4.84,2,2,0,0,0.54
2,20230329041210,4,4,6,3.0,3.0,24,1125,24.0,24.0,...,4.71,4.92,4.92,4.58,4.71,3,3,0,0,0.31
3,20230329041210,1,1,2,1.0,1.0,1,7,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,1,1,0,0,1.14
4,20230329041210,16,16,14,5.0,8.0,1,365,1.0,1.0,...,4.70,4.87,4.78,4.98,4.48,12,3,2,0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,20230329041210,3,4,2,1.0,1.0,3,365,3.0,3.0,...,4.87,4.93,4.93,4.94,4.82,2,2,0,0,1.14
24220,20230329041210,1,1,7,2.0,3.0,1,365,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,1,1,0,0,1.14
24221,20230329041210,1,6,2,2.0,1.0,5,365,5.0,5.0,...,4.87,4.93,4.93,4.94,4.82,1,0,1,0,1.14
24222,20230329041210,13,13,2,1.0,1.0,1,365,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,13,13,0,0,1.14
24223,20230329041210,2,2,6,3.0,3.0,1,365,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,2,2,0,0,1.14

In [292]:
mexico_muchos

                       id    host_id   latitude  longitude
0                 2056638   10531228  19.353530 -99.162990
1                 2072354   16840050  19.353580 -99.169480
2                  696037    3531879  19.441800 -99.184020
3                   35797     153786  19.382830 -99.271780
4                   44616     196253  19.411620 -99.177940
...                   ...        ...        ...        ...
24219  853923589855678923  488030249  19.396663 -99.148145
24220  853966732274073000  506816029  19.392023 -99.118722
24221  854225071295768399  154670560  19.371088 -99.190186
24222  854247693069190865    7799414  19.403792 -99.164978
24223  854260329845513725  506864314  19.426283 -99.175603

[24224 rows x 4 columns]

## **4. Eliminación de Outliers**
Aplicar métodos (Desviación Estándar o Rango Intercuartílico)

Para el archivo de México se decidió utilizar el método de Rango Intercuartílico debido a su fiabilidad y mejor precisión para detectar outliers. El método es mucho má compacto para detectar límites superiores e inferiores, y al ser el archivo más grandes, consideré que sería mucho más ideal.

In [293]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=mexico_num

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print()
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido scrape_id                                       2.023033e+13
host_listings_count                             2.850000e+01
host_total_listings_count                       3.200000e+01
accommodates                                    7.000000e+00
bedrooms                                        3.500000e+00
beds                                            3.500000e+00
minimum_nights                                  3.500000e+00
maximum_nights                                  2.542500e+03
minimum_minimum_nights                          3.500000e+00
maximum_minimum_nights                          6.000000e+00
minimum_maximum_nights                          2.265000e+03
maximum_maximum_nights                          2.265000e+03
minimum_nights_avg_ntm                          5.750000e+00
maximum_nights_avg_ntm                          2.265000e+03
availability_30                                 6.300000e+01
availability_60                                 1.095000e+02
availability_90                                 1.500000e+02
availability_365                                6.740000e+02
number_of_reviews                               1.045000e+02
number_of_reviews_ltm                           4.750000e+01
number_of_reviews_l30d                          5.000000e+00
review_scores_rating                            5.295000e+00
review_scores_accuracy                          5.265000e+00
review_scores_cleanliness                       5.275000e+00
review_scores_checkin                           5.225000e+00
review_scores_communication                     5.240000e+00
review_scores_location                          5.225000e+00
review_scores_value                             5.265000e+00
calculated_host_listings_count                  2.350000e+01
calculated_host_listings_count_entire_homes     1.500000e+01
calculated_host_listings_count_private_rooms    5.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               4.481250e+00
dtype: float64

Limite inferior permitido scrape_id                                       2.023033e+13
host_listings_count                            -1.550000e+01
host_total_listings_count                      -1.600000e+01
accommodates                                   -1.000000e+00
bedrooms                                       -5.000000e-01
beds                                           -5.000000e-01
minimum_nights                                 -5.000000e-01
maximum_nights                                 -1.237500e+03
minimum_minimum_nights                         -5.000000e-01
maximum_minimum_nights                         -2.000000e+00
minimum_maximum_nights                         -7.750000e+02
maximum_maximum_nights                         -7.750000e+02
minimum_nights_avg_ntm                         -1.850000e+00
maximum_nights_avg_ntm                         -7.750000e+02
availability_30                                -3.300000e+01
availability_60                                -3.050000e+01
availability_90                                -1.800000e+01
availability_365                               -1.740000e+02
number_of_reviews                              -5.950000e+01
number_of_reviews_ltm                          -2.850000e+01
number_of_reviews_l30d                         -3.000000e+00
review_scores_rating                            4.375000e+00
review_scores_accuracy                          4.505000e+00
review_scores_cleanliness                       4.435000e+00
review_scores_checkin                           4.625000e+00
review_scores_communication                     4.600000e+00
review_scores_location                          4.625000e+00
review_scores_value                             4.345000e+00
calculated_host_listings_count                 -1.250000e+01
calculated_host_listings_count_entire_homes    -9.000000e+00
calculated_host_listings_count_private_rooms   -3.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -1.808750e+00
dtype: float64

In [294]:
#Encontramos Outliers del Dataframe
outliers_iqr= mexico_num[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,24.0,24.0,...,NaN,NaN,NaN,4.58,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,14.0,5.0,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24221,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [295]:
#Obtenemos datos limpios del Dataframe
mexico_iqr= mexico_num[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
mexico_iqr

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,20230329041210,3.0,7.0,3.0,1.0,1.0,1.0,1125.0,1.0,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,20230329041210,3.0,3.0,2.0,1.0,1.0,3.0,1125.0,3.0,3.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,20230329041210,4.0,4.0,6.0,3.0,3.0,NaN,1125.0,NaN,NaN,...,4.71,4.92,4.92,NaN,4.71,3.0,3.0,0.0,0.0,0.31
3,20230329041210,1.0,1.0,2.0,1.0,1.0,1.0,7.0,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,1.0,1.0,0.0,0.0,1.14
4,20230329041210,16.0,16.0,NaN,NaN,NaN,1.0,365.0,1.0,1.0,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,20230329041210,3.0,4.0,2.0,1.0,1.0,3.0,365.0,3.0,3.0,...,4.87,4.93,4.93,4.94,4.82,2.0,2.0,0.0,0.0,1.14
24220,20230329041210,1.0,1.0,7.0,2.0,3.0,1.0,365.0,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,1.0,1.0,0.0,0.0,1.14
24221,20230329041210,1.0,6.0,2.0,2.0,1.0,NaN,365.0,NaN,5.0,...,4.87,4.93,4.93,4.94,4.82,1.0,0.0,1.0,0.0,1.14
24222,20230329041210,13.0,13.0,2.0,1.0,1.0,1.0,365.0,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,13.0,13.0,0.0,0.0,1.14
24223,20230329041210,2.0,2.0,6.0,3.0,3.0,1.0,365.0,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,2.0,2.0,0.0,0.0,1.14

In [296]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=mexico_iqr.isnull().sum()
valores_nulos

scrape_id                                          0
host_listings_count                             3324
host_total_listings_count                       3453
accommodates                                    1090
bedrooms                                         640
beds                                            2347
minimum_nights                                  3195
maximum_nights                                     1
minimum_minimum_nights                          3081
maximum_minimum_nights                          1895
minimum_maximum_nights                             5
maximum_maximum_nights                             6
minimum_nights_avg_ntm                          1929
maximum_nights_avg_ntm                             6
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                               2308
number_of_reviews_ltm                           1519
number_of_reviews_l30d                           784
review_scores_rating                            1852
review_scores_accuracy                          2150
review_scores_cleanliness                       2050
review_scores_checkin                           1973
review_scores_communication                     2163
review_scores_location                          2066
review_scores_value                             1859
calculated_host_listings_count                  3224
calculated_host_listings_count_entire_homes     3444
calculated_host_listings_count_private_rooms    3076
calculated_host_listings_count_shared_rooms      576
reviews_per_month                               1373
dtype: int64

In [297]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
mexico_iqr_final=mexico_iqr.copy()
mexico_iqr_final=mexico_iqr_final.fillna(round(mexico_iqr.mean(),1))
mexico_iqr_final

,scrape_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,20230329041210,3.0,7.0,3.0,1.0,1.0,1.0,1125.0,1.0,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,20230329041210,3.0,3.0,2.0,1.0,1.0,3.0,1125.0,3.0,3.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,20230329041210,4.0,4.0,6.0,3.0,3.0,1.6,1125.0,1.6,1.9,...,4.71,4.92,4.92,4.90,4.71,3.0,3.0,0.0,0.0,0.31
3,20230329041210,1.0,1.0,2.0,1.0,1.0,1.0,7.0,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,1.0,1.0,0.0,0.0,1.14
4,20230329041210,16.0,16.0,2.9,1.4,1.6,1.0,365.0,1.0,1.0,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,20230329041210,3.0,4.0,2.0,1.0,1.0,3.0,365.0,3.0,3.0,...,4.87,4.93,4.93,4.94,4.82,2.0,2.0,0.0,0.0,1.14
24220,20230329041210,1.0,1.0,7.0,2.0,3.0,1.0,365.0,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,1.0,1.0,0.0,0.0,1.14
24221,20230329041210,1.0,6.0,2.0,2.0,1.0,1.6,365.0,1.6,5.0,...,4.87,4.93,4.93,4.94,4.82,1.0,0.0,1.0,0.0,1.14
24222,20230329041210,13.0,13.0,2.0,1.0,1.0,1.0,365.0,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,13.0,13.0,0.0,0.0,1.14
24223,20230329041210,2.0,2.0,6.0,3.0,3.0,1.0,365.0,1.0,1.0,...,4.87,4.93,4.93,4.94,4.82,2.0,2.0,0.0,0.0,1.14

In [298]:
#Corroboramos valores nulos del dataframe limpio
valores_nulos=mexico_iqr_final.isnull().sum()
valores_nulos

scrape_id                                       0
host_listings_count                             0
host_total_listings_count                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [299]:
#Finalmente concatenamos el dataframe numerico con el de string y guardamos en Excel 
mexico_final = pd.concat([mexico_muchos,mexico_iqr_final, mexico_str], axis=1)
mexico_final.to_csv('DF_Mexico_LIMPIO.csv', index=False)